.articleContainer {
    margin: auto;
    width: 80%;
    text-align: left;
}

.articleContainer pre {
    /*控制代码不换行*/
    width: auto;
    white-space: pre;
    word-wrap: normal;
}

.articleContainer img {
    /*控制代码不换行*/
    max-width: 60%;
}

@media only screen and (max-width: 500px) {
    .articleContainer {
        width: 94%;
        font: 0.8em sans-serif;
    }
}