#articleList {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 88%;
    margin: 2em auto;
    border-collapse: collapse;
}

#articleList td,
#articleList th {
    font-size: 1em;
    border: 1px solid #333;
    padding: 3px 7px 2px 7px;
}

#articleList th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #333;
    color: #ffffff;
}


/* #articleList tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
} */