.comment-input {
    border-bottom: 1px solid lightgray;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 9fr;
    place-items: center;
    text-align: left;
    padding-bottom: 5px;
    margin: 2em auto 1em auto;
}

.comment-input .avatar {
    /* margin: 0; */
    grid-column: 1 / 2;
    place-self: start end;
}

.comment-input .avatar img {
    border-radius: 20%;
}

.comment-input form {
    width: 95%;
    grid-column: 2 / 3;
}

.comment-input textarea {
    border: 1px solid gray;
    /* border-radius: 15%; */
    width: 94%;
}

.comment-input input {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 80%;
    margin-top: 10px;
}

.comment-item {
    border-bottom: 1px solid lightgray;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 7fr 2fr;
    grid-template-rows: 1.5em auto 1.5em;
    place-items: center;
    text-align: left;
    padding-bottom: 5px;
    margin: 1em auto 1em auto;
}

.comment-item .avatar {
    border-radius: 20%;
    /* margin: 0; */
    grid-column: 1 / 2;
    place-self: start center;
}

.comment-item .avatar img {
    border-radius: 20%;
}

.comment-item .displayName {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: crimson;
    place-self: start start;
}

.comment-item .body {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    place-self: start start;
}

.comment-item .createdAt {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    color: gray;
    font-size: 75%;
    place-self: end start;
}

.comment-item .meta {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    color: gray;
    font-size: 75%;
    place-self: end start;
}

@media only screen and (max-width: 500px) {
    .comment-input,
    .comment-item {
        font: 0.8em sans-serif;
    }
    .comment-input input {
        margin-left: 70%;
    }
    .comment-input .avatar img,
    .comment-item .avatar img,
    .comment-input input {
        transform: scale(0.7);
    }
    .comment-item .fa {
        transform: scale(0.7) translateY(3px);
    }
}