* {
    box-sizing: border-box;
    /* border: 1px dashed red; */
}

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    background-color: whitesmoke;
}

#mainContainer {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto auto 150px;
    grid-template-areas: "header header " " sidebar main " " footer footer";
    gap: 5px;
}

@media only screen and (max-width: 500px) {
    #mainContainer {
        display: block;
        width: 100%;
    }
    .sidebar {
        display: none;
    }
    .footer {
        font: 0.5em sans-serif;
    }
    .naviBar a {
        width: auto;
        transform: scale(0.7);
    }
}

.item {
    /* font-size: 1em; */
    /* text-align: center; */
    /* line-height: 100px; */
}

.hearder {
    background-color: #333;
    grid-area: header;
}

.sidebar {
    background-color: white;
    /* width: 300px; */
    justify-self: center;
    text-align: left;
    grid-area: sidebar;
}

.main {
    background-color: white;
    grid-area: main;
    /* margin-bottom: 500px; */
}

.footer {
    text-align: center;
    line-height: 150px;
    background-color: #333;
    color: white;
    height: 150px;
    grid-area: footer;
}

.naviBar {
    /* display: flex; */
    height: 50px;
    background-color: #333;
}

.naviBar a {
    display: block;
    float: left;
    line-height: 50px;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
}

.naviBar a:hover {
    background-color: #111;
}

.naviBar .endOfBar {
    /* 设置一个比较大的数，把元素放到最后 */
    float: right;
    padding: 0 0.5em;
}


/* 
<a class="userinfo">
<img src="{{ user.photo }}"  width="25" height="25">
<span> {{ user.displayName }}</span>
</a> 
*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    width: auto;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.naviBar .userinfo {
    /* position: relative; */
    width: auto;
    display: inline-block;
    padding: 0 0.5em;
    font-style: italic;
}

.naviBar .userinfo img {
    border-radius: 20%;
    margin: 0;
    transform: translate(0, 25%);
    margin-right: 0.3em;
    /* margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); */
}

#displayType {
    margin-top: 12px;
    padding-left: 2em;
}

#displayType a {
    padding: 3px;
    color: black;
    text-decoration: none;
    border-radius: 12%;
}

#displayType a:hover,
#displayType .active {
    color: white;
    background: green;
}