* {
    box-sizing: border-box;
    /* border: 1px dashed red; */
}

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    background-color: whitesmoke;
}

#mainContainer {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto auto 150px;
    grid-template-areas: "header header " " sidebar main " " footer footer";
    gap: 5px;
}

@media only screen and (max-width: 500px) {
    #mainContainer {
        display: grid;
        /* 使用auto总是出现宽带不正常，必须使用100% ！*/
        /* grid-template-columns: auto; */
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "header" " sidebar" "main" "footer";
        gap: 5px;
    }
}

.item {
    /* font-size: 1em; */
    text-align: center;
    /* line-height: 100px; */
}

.hearder {
    background-color: #333;
    grid-area: header;
}

.sidebar {
    background-color: white;
    /* width: 300px; */
    justify-self: center;
    text-align: left;
    grid-area: sidebar;
}

.main {
    background-color: white;
    grid-area: main;
    /* margin-bottom: 500px; */
}

.footer {
    background-color: #333;
    color: white;
    height: 150px;
    grid-area: footer;
}

.naviBar {
    display: grid;
    /* font-size: 1em; */
    grid-template-rows: 50px;
    /* 这里没有设置 colum，是一个column，还是 自动多个呢？ */
    /* grid-template-columns: repeat(24, 60px); */
    background-color: #333;
    place-items: center center;
}

.naviBar a {
    display: block;
    width: 80px;
    line-height: 50px;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
}

.naviBar a:hover {
    background-color: #111;
}

.naviBar .endOfBar {
    /* 设置一个比较大的数，把元素放到最后 */
    grid-column-end: 19;
}